.appointment-form-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(192, 192, 192, 0.8);
  transition: opacity 200ms, display 200ms;
  max-height: 80vh; /* Set a maximum height for the form */
  overflow-y: auto;
}

.scale-up-center {
  -webkit-animation: scale-up-center 400ms cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 400ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.appointment-form {
  width: 40%;
  min-height: 85vh;
  margin: 58px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #e6e6e6;
  overflow-y: scroll;
}

.appointment-form.scale-up-center h2 {
  font-size: 24px;
  font-weight: 600;
  color: #302f2f;
  margin: 24px auto;
  width: 50%;
}

.appointment-form label {
  width: 80%;
  font-size: 16px;
  font-weight: 600;
  color: #302f2f;
  margin: 0 auto;
}

.appointment-form input {
  width: 80%;
  height: 48px;
  border-radius: 12px;
  border: 1px solid #e6e6e6;
  margin: 0 auto;
  padding: 0 12px;
  font-size: 16px;
  font-weight: 500;
  color: #302f2f;
  transition: all 0.2s ease-in-out;
}

.appointment-form input:focus {
  outline: none;
  border: #472183 1px solid;
}

.appointment-form select {
  width: 83%;
  height: 48px;
  border-radius: 12px;
  border: 1px solid #e6e6e6;
  margin: 0 auto;
  padding: 0 12px;
  font-size: 16px;
  font-weight: 500;
  color: #302f2f;
  background-color: #ffffff;
}

.appointment-form option {
  font-size: 16px;
  font-weight: 500;
  color: #302f2f;
}

.appointment-form button {
  width: 40%;
  height: 64px;
  color: #472183;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  border: 2px solid #472183;
  margin: 24px auto 24px auto;
  padding: 12px 0;
  cursor: pointer;
  background-color: transparent;
}

.appointment-form button:hover {
  background-color: #472183;
  color: #fff;
}

#submit-button {
  background-color: #472183;
  color: #fff;
}

.form-buttons {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.settings {
  width: 100%;
}

@media (max-width: 768px) {
  .appointment-form {
    width: 80%;
  }

  .appointment-form button {
    width: 40%;
    height: 56px;
    font-size: 14px;
    padding: 0 8px;
  }
}

.tool-quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.tool-quantity button {
  height: 50px;
  margin-bottom: 0 !important;
  margin-top: 19px !important;
}