.technicians-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.technicians-header {
  width: 100%;
  height: 84px * 2;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: #302f2f 1px solid; */
}

.technicians-header h2 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: 500;
  color: #302f2f;
  width: 50%;
  margin: 38px 24px;
}

h2.half-width-border {
  position: relative;
}

.technicians-header h2.half-width-border::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 12%;
  border-bottom: 2px solid #472183;
}

.technicians-header button {
  width: 220px;
  height: 100%;
  border: 2px solid #472183;
  background-color: transparent;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #472183;
  padding: 16px 24px;
  cursor: pointer;
  margin: 28px 24px;
  transition: all 0.2s ease-in-out;
}

.technicians-header button:hover {
  background-color: #472183;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
